@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Lato:wght@100&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f1f8e6;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    
    #root {
        background-color: #ffff;
        width: 80%;
        margin: auto;
        border-radius: 5px;
        box-shadow: 2px 2px 4px 3px rgba(0,0,0,0.4);

        header {
            text-align: center;
            color: rgba(153, 149, 149, 0.749);
            font-size: 2rem;
            h1{
                padding-top: 30px;
                margin-bottom: 15px;
            }
            .soulignbar {
                width: 200px;
                background-color: rgba(153, 149, 149, 0.7);
                height: 3px;
                margin: auto;
                opacity: .5;
                margin-bottom: 50px;
            }             
        }
        .todo{
            border-top: 2px solid rgba(153, 149, 149, 0.2);
            font-size: 1.5rem;
            padding: 20px 50px 20px 50px;
            &:nth-child(2) {
                border-top: none;
            }
            label {
                cursor: pointer;
            }
        }
        /*** Change le style quand on clique sur un todo ***/
        .newStyle {
            border-top: 2px solid rgba(153, 149, 149, 0.2);
            font-size: 1.5rem;
            padding: 20px 50px 20px 50px;
            background-color: rgba(153, 149, 149, 0.2);
            color: #1c1c1c;
            &:nth-child(2) {
                border-top: none;
            }
        }

    }
}
